<!DOCTYPE html>
<html>
  <head>
    <title>DCE HelpDesk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render '/layouts/top' %>
    <section class="section is-tyne">
      <div class="container">
        <%= render 'shared/top_panel' %>
        <%= yield %>
        <%= turbo_frame_tag 'remote_modal' %>
      </div>
    </section>
  </body>
</html>
